extends ../config/template.pug
append config
  - global.pageTitle = 'Home'
  - global.pageDescription = 'Pagina inicial de EDboilerplate'
  - global.pageImage = 'https://ed.team/sites/default/files/EDboilerplate-logo.png'

block main
  include ../includes/main-menu

