- global.pageTitle = 'Home'
- global.siteName = 'EDboilerplate'
- global.twitterAccount = '@edteamlat'
- global.pageDescription = 'Simple boilerplate for static web projects with sass, pug and babel'
- global.pageImage = ''
-
  global.pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'Blog',
      url: '/blog',
      child: [
        {
          title: 'Subitem1',
          url: 'subitem1.html'
        },
        {
          title: 'Subitem2',
          url: 'subitem2.html'
        }
      ]
    }
  ]
